<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.conteos"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:hasCode="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreferenciasActivity" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".ModosTransporteListActivity"
            android:label="@string/title_activity_modos_transporte" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name=".activities.ModosTransporteListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConexionWebServiceConteos"
            android:label="@string/title_activity_conexion_web_service_conteos" >
        </activity>
    </application>

</manifest>
